# CIS 280 Data Visualization and Communication
---

Assignment 4

In [1]:
#Setting Up Imports for the assignment
import plotly.express as px
import pandas as pd

from jupyter_dash import JupyterDash

import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output, State

In [2]:
#Reading the data frame
df = pd.read_csv("Insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### Plot #1
In this plot I decided to plot the bmi of every smoker based off there sex, and I decided to a use scatter plot for plot 1.

In [3]:
#Resetting index of bmi based off the sex of the smokers
bmi = df['bmi'].value_counts().to_frame().reset_index().rename(columns={'bmi':'Number of Smokers per BMI','index':'bmi'})
bmi

        bmi  Number of Smokers per BMI
0    32.300                         13
1    28.310                          9
2    30.495                          8
3    30.875                          8
4    31.350                          8
..      ...                        ...
543  46.200                          1
544  23.800                          1
545  44.770                          1
546  32.120                          1
547  30.970                          1

[548 rows x 2 columns]

In [4]:
#Scatter plot for the 1st plot showing the bmi of smokers
scatter = px.scatter(bmi,
                x='bmi',
                y='Number of Smokers per BMI',
                color='Number of Smokers per BMI',
                title='Overall Rating In BMI Based Off Numbers of Smokers per BMI')

### Plot #2
In this plot I decided to plot the BMI based off the smokers age, and I decided to use a Violin plot for plot 2.

In [5]:
#Reducing age <= 75
reduce = df[df['age']<=75].reset_index(drop=True) 
reduce

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
#Violin plot based on BMI based off the smokers age 
violin = px.violin(reduce,
             x='age',
             y='bmi',
             color='sex',
             color_discrete_sequence=px.colors.qualitative.D3,
             title="Overall Rating In BMI Based Off Age")

### Plot #3
For plot #3 I decided to use a slider to use based off the smokers age betwee the range of 18 and 75. Then I defied the app's layout on the graph using html, and setting figures to be the variables I enlisted as my plots above. Then I linked the slider and the graph using the callback function to gain an interactive plot that will show the charges of a smoker based off their age and bmi that was displayed on the graph using the slider to move right and left.

In [7]:
#Slider for age values
slider = dcc.Slider(
        id='age-of-smokers-slider',
        min=18, 
        max=75,  
        step=1,
        value=18, 
    )

In [8]:
#Limits of age are set between 18 and 75
low = 18
high = 75
df[(df['age'] >= low) & (df['age'] <= high )].reset_index(drop=True)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [20]:
#Defying the server and making the connection to the server 
app = JupyterDash('Smoker Statistics') 

server = app.server

underline = "_________________________________________________________________________________________________________________________________________________________________"

# Create the layout
app.layout = html.Div([ 
    html.H1('Male To Female Smokers Vice Versa Data'),
    html.P(underline),
    html.H2('Overall Rating In BMI Based Off Numbers of Smokers per BMI'),
    dcc.Graph(figure=scatter),
    html.P('Plot #1 is showing the BMI of smokers. It shows the number of smokers per BMI that is displayed on the scatter plot. A BMI of 32.3 has the highest number of people per BMI which was 13 people.'),
    html.P(underline),
    html.H2('Overall Rating In BMI Based Off Age'),
    dcc.Graph(figure=violin),
    html.P('Plot #2 is showing the BMI of smokers based off their age. The highest BMI was found to be 53.13 for a male that was only 18 years old. For a female the highest BMI was 48.07 and was 46 years old. The limit on age for the dataframe set for plot #2 was limited at the age of 75 so the chart does not look messy.'),
    html.P(underline),
    html.H2('Overall Rating of Charges Based Off Age and BMI'),
    dcc.Graph(id='graph-with-slider'),
    slider,
    html.P('Plot #3 is showing the overall rating of charges based off age and BMI combined. A slider was introduced to the graph to make it easier to interact with the graph. When moving the slider it increases in age as it goes foward showing the charge rate and bmi rate. The lowest limit on the slider was set at 18 and the highest limit is 75.')
    ])

@app.callback(
    Output('graph-with-slider', 'figure'),
    Input('age-of-smokers-slider', 'value'))
#Defying callback function
def show(value):
    df = pd.read_csv('Insurance.csv')
    df = df[df['age'] == value]
    #Creating a graph based off charge amount based off age and bmi between 18 and 75
    fig = px.bar(df, 
                     x='bmi',
                     y='age',
                     color='charges',
                     title='Overall Rating of Charges Based Off Age and BMI'
                    )
    return fig

# Display in browser
app.run_server("jupyterlab")